.headerAccueil {
    background: url('/ressources/background-image2.png') no-repeat;
    background-size: cover;
    box-shadow: 0 10px 15px 5px black;
    height: 500px;
}
.divHeaderAccueil {
    background-color: rgba(0, 0, 0, 0.8);
}
.titleAccueil {
    font-size: 5em !important;
}
.arrowScrollDown {
    font-size: 3em;
    bottom: 10%;
}